html, body {
  margin: 0px;
  font-size: 14px;
  font-family: 'Apple SD Gothic Neo,Noto Sans KR,Malign Gothic,Sans-serif';
  color: #333;
}

.ant-tag {
  height: 18px;
  line-height: 18px;
  padding: 0 2px;
  font-size: 11px;
  margin-left: 5px;
}

/* 이미지 캐러셀 커스텀 */
.ant-carousel .slick-slider {
  position: unset;
}
.ant-carousel .slick-dots {
  height: 5px;
}
.ant-carousel .slick-dots li button {
  height: 6px;
  border-radius: 3px;
}